* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contanier {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* menu_bar */
#menu_bar {
    position: fixed;
}

/* movie_box */
#movie_play_box {
    position: relative;
    z-index: -1;
}

.movie_play {
    position: relative;
    height: 800px;
}

.movie_play video {
    height: 800px;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 767px) {
    .movie_play {
        height: 700px;
    }
}

@media (min-width: 767px) {
    .movie_play video {
        height: 700px;
    }
}


@media (min-width: 1441px) {
    .movie_play {
        height: 800px;
    }
}

@media (min-width: 1441px) {
    .movie_play video {
        height: 800px;
    }
}

@media (min-width: 767px) {
    .movie_play_inner {
        position: absolute;
        bottom: 180px;
        left: 160px;
    }
}

@media (min-width: 1441px) {
    .movie_play_inner {
        position: absolute;
        bottom: 280px;
        left: 400px;
    }
}

/* #movie_play_box .movie_play_inner {
    position: absolute;
    bottom: 280px;
    left: 160px;
} */

#movie_play_box .movie_play_inner h1 {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}

#movie_play_box .movie_play_inner p:nth-child(2) {
    font-size: 58px;
    color: white;
    font-weight: bold;
}

#movie_play_box .movie_play_inner p:nth-child(3) {
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: 35px;
}